/*
  hoja de estilos
  esto es un comentario de bloque
  @auto: ander
  @version: 1.0
  @tags: css, basic, etc..
  @licencia: mit
  ...
*/

/* reset basico para eliminar estilos de todos los browser - user-agent */
*{
    margin: 0;
    padding: 0;
}

/*
* Estilos generales
*/
body{
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}

h1{
    color: #09C;
    font-size: 3em;
    text-align: center;
}

h1 , h2, h3, h4, h5, h6 {
    text-align: center;
}
   
h2,h3{
    margin:1em auto;
}

a{text-decoration: none;}

p{
    text-align: justify;
    padding: 0.5em 2em;

}




